@model IEnumerable<Garaget.Models.ParkedVehicle>

@{
    ViewBag.Title = "The Garage";
}

<h2>Cars in garage</h2>

<h4>
    <!--<span class="label label-primary">-->
    @Html.ActionLink("Check in vehicle", "CheckInVehicle")
    <!--</span>--->
</h4>
@Html.Partial("_VehicleList")